<div class="container mt-3" *ngIf="pokemon">
    <div class="row">
        <div class="col-md-6" >
            <h2>{{pokemon.name}}</h2>
            <img [src]="pokemon.image" [alt]="pokemon.name">
            <p>Typ: {{pokemon.types}}</p>
            <p>Wysokość: {{pokemon.height}} cm</p>
            <p>Waga: {{pokemon.weight}} kg</p>
            <p>Formy: {{pokemon.forms}}</p>
        </div>

        <div class="col-md-6 mt-3">
            <h5>Umiejętności:</h5>
            <ul class="list-group">
                <li class="list-group-item"  *ngFor="let ability of pokemon.abilities">{{ability}}</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col mt-3">
            <h5>Ruchy: </h5>
            <ul class="list-group">
                <ul class="list-group-item" *ngFor="let move of pokemon.moves">{{move}}</ul>
            </ul>
        </div>
    </div>
    <a class="btn btn-dark my-5" [routerLink]="['/']">Cofnij</a>
</div>

  